# macOS general
# https://github.com/github/gitignore/blob/main/Global/macOS.gitignore
.DS_Store
.AppleDouble
.LSOverride

# published
docs/_redirects
docs/specimen/
docs/vocabulary/

# Visual Studio Code (VS Code)
# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# Local History for Visual Studio Code
.history/
# Built Visual Studio Code Extensions
*.vsix
