@import '../src/css/vocabulary.css' layer(vocabulary);
@import '../specimen/tests/grid-test.css' layer(vocabulary);


/* narrative-index context sandbow */


body.narrative-index > header .masthead {
    --vocabulary-page-edges-space: 2%;
    padding-top: 20px;
}

body.narrative-index > header .masthead .primary-menu ul li {
    margin-left: 3em;
}

body.narrative-index > header .masthead .primary-menu ul li a {
    font-family: "DM Sans", sans-serif;
    font-family: 'Source Sans Pro';
    font-size: 1.4em;
    font-optical-sizing: auto;
    font-style: normal;
    text-transform: lowercase;
    font-weight: 600;
    color: #414040;
}

body.narrative-index > header .masthead .primary-menu ul li a:hover {
    color: var(--vocabulary-core-color-seafoam);
    text-decoration: underline;
}


body.narrative-index > header .masthead .primary-menu ul li a.donate {
    padding: .5em .7em;

    color: #62327F;
    color: #bb377e;
    background: #E4CBF3;
    background: #fee9f9;
    border-radius: 5px;

    /* color: var(--vocabulary-core-color-seafoam);
    background: var(--vocaulary-core-color-soft-seafoam); */
}

body.narrative-index > header .masthead .primary-menu ul li a.donate:hover {
    color: white;
    background: #bb377e;
    text-decoration: none;


}

body.narrative-index > header .masthead .primary-menu ul li a.donate:before {
    --icon-sprite-color: #62327F;
    --icon-sprite-color: #bb377e;
    --icon-sprite-size: .7em;
    
    margin-right: .3em;

    /* margin-top: 6px; */
}

body.narrative-index > header .masthead .primary-menu ul li a.donate:hover:before{
    --icon-sprite-color: white;
}

body.narrative-index main h2 {
    text-align: center;
    /* color: #324c7f; */
    /* color: #414040; */
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

body.narrative-index main a {
    color: var(--vocabulary-core-color-seafoam);
}


body.narrative-index .topic-summary.campaign p {
    margin-bottom: .5em;

    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    line-height: .3em;
    text-transform: lowercase;

    background: white;
}

body.narrative-index .topic-summary.campaign p.third {
    margin-top: 2em;
    font-size: 3em;
}

body.narrative-index .topic-summary.campaign p.fourth {
    display: none;

    width: 40%;
    margin-top: 2em;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.2em;
}

body.narrative-index .topic-summary.campaign .medium {
    color: var(--vocabulary-core-color-rich-purple);
}

body.narrative-index .topic-summary.campaign .action {
    color: var(--vocabulary-core-color-rich-purple);
}
