
@import 'library-vars.css';


/* temp resets */
.explore-panel {
    display: none;
}

main p.dm-sans-specimen {
    display: none;

    font-family: "DM Sans";
}

main p.dm-mono-specimen {
    display: none;
    
    font-family: "DM Mono";
}


























main > aside.sidebar nav.filter-menu ul li.current {
    background: var(--vocabulary-neutral-color-lighter-gray);
    border-radius: 10px;
}

.archive-page article.posts .post {
    margin-bottom: 4em;
    font-family: "DM Sans";
}

.archive-page .posts .post .type {
    top: -1em;

    background:#FFD9CC;
}

.archive-page article.posts .post h2 {
    margin-bottom: 1em;

    font-size: 1.5em;
}

.archive-page article.posts .post figure {
    order: inherit;
}

.archive-page article.posts .post figure figcaption {
    display: inherit;

    font-family: "DM Mono";
    font-size: .8em;
}

.archive-page article.posts .post p {
    margin-top: 0;

    font-family: "DM Sans";
    line-height: 1.4;
    font-size: 1.2em;
}


.team-index header figure {
    order: 1;
}

.team-index main .persons ul {
    grid-template-columns: 1fr 1fr 1fr;
}

.team-index main .persons .person {
    font-family: "DM Sans";
    font-size: 1.5em;
}

.team-index main .persons .person h3 {
    font-family: "DM Sans";
}

.team-index main .persons .person a {
    color: #2E1FB8;
}

.team-index main .persons .person figure {
    position: relative;
}

.team-index main .persons .person figure:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    content: '';
    /* width: 30%; */
    /* height: 120%; */
    /* background: var(--vocabulary-neutral-color-lighter-gray); */
    /* border-radius: 16px; */

     display: block;
    content: '';
    height: 15em;
    width: 15em;
    /* font-size: ; */
    background-color:#ADFF00;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../svg/blob2.svg);
    mask-image: url(../svg/blob2.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    /* transform: rotate(90deg); */
}

.team-index main .persons ul li:nth-child(even) .person figure:before {
    background:#FF9CFF;
}


.team-index main .persons .person figure img {
    border-radius: 16px;
}

.person-page main > header h1 {
    padding-left: 0;
    font-size: 3.56em;
}

.person-page main > header .title, .person-page main > header .pronouns {
    font-weight: 400;
}

.person-page main > header .title {
    margin-bottom: .5em;
}

.person-page main > header .pronouns {
    font-size: 1.2em;
    font-family: "DM Mono";
}

.person-page main > header p {
    font-size: 1.2em;
}

.person-page main > header figure {
    width: auto;
    height: auto;
    position: inherit;

    background: none; 
} 

.person-page main > header figure:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    content: '';
    /* width: 30%; */
    /* height: 120%; */
    /* background: var(--vocabulary-neutral-color-lighter-gray); */
    /* border-radius: 16px; */

     display: block;
    content: '';
    height: 22em;
    width: 22em;
    /* font-size: ; */
    background-color:#ADFF00;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../svg/blob2.svg);
    mask-image: url(../svg/blob2.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    /* transform: rotate(90deg); */
}

.person-page main > header figure img {
    border: none;
    border-radius: 200px;
}

.person-page article.posts .post {
    margin-bottom: 4em;
    font-family: "DM Sans";
}

.person-page .posts .post .type {
    top: -1em;

    background:#FFD9CC;
}

.person-page article.posts .post h2 {
    margin-bottom: 1em;

    font-size: 1.5em;
}

.person-page article.posts .post figure {
    order: inherit;
}

.person-page article.posts .post figure figcaption {
    display: inherit;

    font-family: "DM Mono";
    font-size: .8em;
}

.person-page article.posts .post p {
    margin-top: 0;

    font-family: "DM Sans";
    line-height: 1.4;
    font-size: 1.2em;
}





.search-index h1 {
    padding-left: 0;
}

.search-index .search-form form input {

    font-family: "DM Sans";
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-width: 4px;

}

.search-index .search-form form button {
    position: relative;

    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.search-index .search-form form button:after {
    position: absolute;
    top: -6em;
    right: 4em;
    z-index: -1;

    content: '';
    /* width: 30%; */
    /* height: 120%; */
    /* background: var(--vocabulary-neutral-color-lighter-gray); */
    /* border-radius: 16px; */

     display: block;
    content: '';
    height: 15em;
    width: 15em;
    /* font-size: ; */
    background-color:#FF9CFF;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../svg/blob2.svg);
    mask-image: url(../svg/blob2.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    transform: rotate(40deg);
}

.search-index .search-form form button:before {
    position: absolute;
    top: -6em;
    right: 4em;
    z-index: -1;

    content: '';
    /* width: 30%; */
    /* height: 120%; */
    /* background: var(--vocabulary-neutral-color-lighter-gray); */
    /* border-radius: 16px; */

     display: block;
    content: '';
    height: 15em;
    width: 15em;
    /* font-size: ; */
    background-color:#E0FF00;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../svg/blob5.svg);
    mask-image: url(../svg/blob5.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    transform: rotate(10deg);
}

.search-index article.posts .post {
    margin-bottom: 4em;
    font-family: "DM Sans";
}

.search-index .posts .post .type {
    top: -1em;

    background:#FFD9CC;
}

.search-index article.posts .post h2 {
    margin-bottom: 1em;

    font-size: 1.5em;
}

.search-index article.posts .post figure {
    order: inherit;
}

.search-index article.posts .post figure figcaption {
    display: inherit;

    font-family: "DM Mono";
    font-size: .8em;
}

.search-index article.posts .post p {
    margin-top: 0;

    font-family: "DM Sans";
    line-height: 1.4;
    font-size: 1.2em;
}

.licenses-page header h1 {
    padding-left: 0;
}

.licenses-page header figure {
    order: 1;
}

.licenses-page .content {
    grid-column: 2/11;

}

.licenses-page .content > h2 {
    width: 60%;
}

.licenses-page .content > p {
    width: 60%;
}

.licenses-page .content > blockquote {
    width: 75%;
}

.licenses-page .content > ul, .casestudy-post .content > ol {
    width: 60%;
}

/* .license-page article.topic-summary:has( .licenses) {
    display: block;
} */

.licenses-page .topic-summary footer.supporting:has(ul) {
    grid-column: span 2;
    display: grid;
    margin-top: 2em;
    
    grid-template-columns: 1fr 1fr;
}

.licenses-page .topic-summary footer.supporting:has(ul) h3 {
    font-family: "DM Sans";
    font-weight: normal;
    font-size: 1.2em;
}

.licenses-page .topic-summary footer.supporting:has(ul) ul li {
    line-height: 1.5;
}

/* .licenses-page main article.topic-summary.about figure {
    order: 1;
} */

.licenses-page article.topic-summary.focus-area:nth-of-type(even) figure {
    order: 0;
}

.licenses-page article.topic-summary.focus-area:nth-of-type(odd) figure {
    order: -1;
}



.licenses-page .topic-summary.highlight {
    display: block;
    width: 95%;
    margin-top: 6em;
    margin-bottom: 8em;
    margin-left: 5%;
    position: relative;
}

article:nth-child(odd of .topic-summary.highlight) {
    margin-bottom: 8em;
}

.licenses-page .topic-summary.highlight:before {
    position: absolute;
    top: -4em;
    left: -8em;
    z-index: -1;

    content: '';
    /* width: 30%; */
    /* height: 120%; */
    /* background: var(--vocabulary-neutral-color-lighter-gray); */
    /* border-radius: 16px; */

     display: block;
    content: '';
    height: 20em;
    width: 20em;
    /* font-size: ; */
    background-color:#ADFF00;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../svg/blob5.svg);
    mask-image: url(../svg/blob5.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    transform: rotateX(180deg) rotate(-90deg);
}

.licenses-page .topic-summary.highlight:after {
    position: absolute;
    top: 3em;
    left: -8em;
    z-index: -1;

    content: '';
    /* width: 30%; */
    /* height: 120%; */
    /* background: var(--vocabulary-neutral-color-lighter-gray); */
    /* border-radius: 16px; */

     display: block;
    content: '';
    height: 7em;
    width: 7em;
    /* font-size: ; */
    background-color:black;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(../svg/star_c.svg);
    mask-image: url(../svg/star_c.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    /* transform: rotateX(180deg) rotate(-90deg); */
}

.licenses-page .topic-summary.highlight .description {
    padding: 3em;

    background: rgba(245, 245, 245, 1);
}

.licenses-page article:nth-child(odd of .topic-summary.highlight) .description {
    background: rgba(245, 245, 245, 1);
}

.licenses-page .topic-summary.highlight .description h2 {
    /* font-size: 1.6em; */
    margin-top: 0;
    margin-bottom: 1.5em;
}

.licenses-page .topic-summary.highlight .description {
    /* display: block; */
}

.licenses-page .topic-summary.newsletter.embed {
    margin-top: 10em;
    margin-left: 40%;
    width: 60%;
    
    background:#ADFF00;
}

.licenses-page .topic-summary.newsletter.embed figure {
    /* top: 0; */
    right: 0;
    left: -40%;
    z-index: -1;
}

.licenses-page .topic-summary.newsletter.embed:before {
    right: 0;
    top: -8em;
    left: -65%;
    z-index: -1;

    background:#FF9CFF;
}

.licenses-page .topic-summary.newsletter.embed .description {
    grid-column: span 2;
}

.licenses-page .topic-summary.newsletter.embed .description h2 {
    font-weight: 400;
}

.licenses-page .licenses {
    /* grid-column: span 2; */
    grid-column: 2/11;
    margin-top: 4em;

    font-size: 13.4px;
}

.licenses-page .licenses h2 {
    font-family: "DM Sans";
}

.licenses-page .licenses > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin: 0;
    margin-bottom: 6em;
    padding: 0;

    list-style: none;
}

.licenses-page .licenses > ul > li {
    padding: 2em;

    background: white;
    font-family: "DM Sans";
    border: 4px solid #FF0000;
    border-radius: 16px;
}

/* .licenses-page .topic-summary .licenses > ul > li:nth-child(1) {
    border-color:#FF9CFF;
} */

/* .licenses-page .topic-summary .licenses > ul > li:nth-child(1) a {
    background-color:#FF9CFF;
} */

/* .licenses-page .topic-summary .licenses > ul > li:nth-child(2) {
    border-color:#ADFF00
} */

/* .licenses-page .topic-summary .licenses > ul > li:nth-child(2) a {
    --underline-background-color:#ADFF00;
    background-color:#ADFF00;
} */

/* .licenses-page .topic-summary .licenses > ul > li:nth-child(3) {
    border-color:#FFD9CC;
    
} */

/* .licenses-page .topic-summary .licenses > ul > li:nth-child(3) a {
    --underline-background-color:#FFD9CC;
    background-color:#FFD9CC; 
} */

/* .licenses-page .topic-summary .licenses > ul > li:nth-child(4) {
    border-color:#E0FF00;
} */

/* .licenses-page .topic-summary .licenses > ul > li:nth-child(4) a {
    --underline-background-color:#E0FF00;
    background-color:#E0FF00;
} */
.licenses-page .license { 
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;
}

.licenses-page .license h3 {
    margin-top: 0;
    
    font-family: "DM Sans";
}

.licenses-page .license h4 {
    font-family: "DM Mono";
    font-size: 1.2em;
    font-weight: 400;
}

.licenses-page .license .badge {
    order: -1;
 }

.licenses-page main .license p {
    font-family: "DM Sans";
    font-size: 1.2em;
    line-height: 1.3;
}

.licenses-page .license dl {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    height: 100%;
}
.licenses-page .license dl div {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
}

.licenses-page .license dt {
    min-width: 3em;
    color: white;
    font-size: 1.8em;
}

.licenses-page .license dd {
    margin: 0;
    /* margin-bottom: 1em; */
    line-height: 1.3;
}

.licenses-page .licenses ul li {
    line-height: 1.6;
}

.licenses-page .licenses > ul > li a {
    color:#FF0000;
}

.licenses-page .licenses footer {
    margin-top: 4em;
    margin-bottom: 6em;

    text-align: center;
}

.licenses-page .licenses a.more {
    display: inline-block;

    padding: .8em 1.8em;
    
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 1.4em;
    color: black;
    background:#ADFF00;
    border-radius: 60px;
    text-transform: capitalize;
    border: 4px solid transparent;
}

.licenses-page .licenses a.more:hover {
    background: black;
    color: white;
    /* border-color: black; */
}

/* .licenses-page .licenses > ul > li a:hover {
    --underline-background-color: black;
    border-color: transparent;
    background-color: black;
} */



/* Classic Editor TinyMCE WYSIWYG editor image alignment, previous theme's markukp  */
/* presently <figure> */
div[id^="attachment_"] {
  width: 120%;
  margin: 0;
  margin-left: -10%;
  margin-bottom: 3em;
  padding: 0;
  float: none;
}

/* presently <img> */
div[id^="attachment_"] img[class^="wp-image"]:not([width]) {
  width: 100%;
}

/* presently <span class="attribution> */
div[id^="attachment_"] p[id^="caption-attachment-"] {
  display: block;
  margin-top: 1em;
  font-size: 1em;
}

div[id^="attachment_"].alignleft {
  margin-top: 2em;
  margin-right: 2em;
  margin-left: -10%;
  width: 50%;
  float: left;
}

div[id^="attachment_"].alignleft:after {
  display: block;
  content: '';
  height: 3em;
  clear: both;
}

div[id^="attachment_"].aligncenter {
  width: 100%;

  margin-left: 0;
}

div[id^="attachment_"].alignright {
  margin-top: 2em;
  margin-right: -10%;
  margin-left: 2em;
  width: 50%;
  float: right;
}

div[id^="attachment_"].alignright:after {
  display: block;
  content: '';
  height: 2em;
  clear: both;
}

main .content div[id^="attachment_"].alignleft {
  margin-left: 0;
  width: 40%;
}

main .content div[id^="attachment_"].alignright {
  margin-right: 0;
  width: 40%;
}

main .content figure:has(img.alignleft), .blog-post main figure:has(img.alignleft) {
  margin-right: 2em;
  margin-left: 0;
  width: 40%;
  float: left;
}

main .content figure:has(img.alignright), .blog-post main figure:has(img.alignright) {
  margin-right: 0;
  margin-left: 2em;
  width: 40%;
  float: right;
}




 .primary-menu ul button.expand {
    display: none;
}

 .primary-menu li:hover > button:before {
    transform: rotate(180deg);
}

/* test if user lacks pointer device (assuming touch device instead) */
@media (pointer: coarse) {

    .primary-menu ul button.expand {
        display: inline-block;
        background: transparent;
        border: none;
        margin-left: .5em;
        margin-top: 1em;
    }

    /* ul button.expand.icon-replace:before {
        width: 1em;
        height: 1em;
    } */
}

@media (max-width: 1170px) {
    
    article.posts ul {
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        gap: 0 2em;
    }

    article.posts ul li  {
        grid-column: span 6;
    }
    .home-narrative article.posts ul li:nth-child(1) {
        /* grid-column: span 6; */
    }

    .home-narrative article.posts ul li:nth-child(1) article {
        /* grid-column: span 6; */
        /* gap: 2em; */
    }

    .home-narrative article.posts ul li:nth-child(1) article {
        display: flex;
        gap: 2em;
    }
    
}


@media (min-width: 1500px) {
    body {
        width: 100%;
        /* margin: 0 auto; */
    }
}

@media (max-width: 1190px) {

    body main article.topic-summary.newsletter figure {
        position: relative;
        right: initial;
        bottom: initial;
        height: auto;

        display: none;
    }

    body main article.topic-summary.newsletter:before {
        display: none;
    }

    body > footer:before, body > footer:after {
        display: none;
    }

    .licenses-page .topic-summary.newsletter.embed {
        width: 100%;
        margin: 0;
        margin-bottom: 4em;
    }

}

@media (max-width: 979px) {

    .licenses-page .licenses > ul {
        grid-template-columns: 1fr 1fr;
    }

    .support-page ul.payment-methods {
        grid-template-columns: 1fr;
    }

    .events-index .events ul li article {
        display: flex;
        flex-wrap: wrap;
    }

    .training-index .topic-summary .trainings > ul {
        grid-template-columns: 1fr;
    }

    .casestudies-index .case-study {
        display: flex;
        flex-wrap: wrap;
    }

    .casestudy-post .content > .datapoints ul {
        grid-template-columns: 1fr;
    }

    .casestudy-post aside.insights {
        /* width: 85%; */
        margin-left: auto;
        margin-right: auto;
    }

    .casestudy-post .content > blockquote {
        margin-left: auto;
        margin-right: auto;
    }

    .casestudy-post .content > .datapoints ul, .casestudy-post .content > .datapoints ol {
        margin-left: auto;
        margin-right: auto;
    }

    .team-index main .persons ul {
        grid-template-columns: 1fr 1fr;
    }


    body footer {
        display: flex;
        flex-wrap: wrap;
    }

    body > footer .footer-menu {
        width: 100%;
    }

    body > footer .footer-menu ul {
        flex-direction: row;
        /* justify-content: flex-end; */
    }

    body > footer .contact {
        width: 40%;
    }

    body > footer .subscribe {
        /* width: 50%; */
        width: inherit;
        height: inherit;
        box-sizing: border-box;
        margin-left: 0;
        flex-grow: 2;
    }
}

@media (max-width: 900px) {

    .blog-index main .post.featured {
        display: flex;
        flex-wrap: wrap;
    }

    .blog-index main .post.featured figure {
        order: -1;
    }

}


@media (max-width: 765px) {

    main {
        display: block;
        width: 100%;
        overflow: hidden;
        padding: 0 var(--vocabulary-page-edges-space);
        box-sizing: border-box;

    }

    main:has( > aside.sidebar) > aside.sidebar {
        /* padding-left: 0; */
        margin-left: 0;
        padding-right: 1em;
        margin-bottom: 4em;
    }

    main .content {
        padding: 0 var(--vocabulary-page-edges-space);
    }

    main > header {
        /* display: flex; */
        grid-template-columns: 1fr 2fr;
    }

     .team-index main > header {
        /* display: flex; */
        grid-template-columns: 2fr 1fr;
    }

    

    main > header figure {
        height: auto;
    }

    main > header div {
    /* order: -1; */
    margin: 0;
    /* padding: 0; */
    } 

    main > header div h1 {
        padding: 0;
        padding-left: 1em;
    }

    article.topic-summary.focus-area, article.topic-summary.about  {
        display: flex;
        flex-wrap: wrap;
    }

    article.topic-summary.focus-area figure {
        order: -1;
        margin-bottom: 2em;
    }

    .licenses-page article.topic-summary.focus-area:nth-of-type(even) figure {
        order: -1;
    }

    article.topic-summary.highlight { 
        display: flex;
        flex-wrap: wrap;
    }

    article.topic-summary.highlight .description {
        /* margin-top: -5em; */
    }

    article.topic-summary.highlight figure {
        position: relative;
        order: -1;
        top: initial;
        right: initial;
        bottom: initial;
        left: initial;
        margin-left: 0;
        margin-right: 0; 
    }

    article.posts ul {
        display: block;
    }

    article.posts ul li {
        margin-bottom: 4em;
    }

    article.posts p {
        margin-bottom: 0;
    }

    .home-narrative article.posts ul li:nth-child(1) article {
        display: flex;
        gap: 2em;
    }

    .support-page .topic-summary.supporters {
        display: block;
    }

    .support-page .topic-summary.supporters ul {
        columns: 1;
    }

    body main article.topic-summary.newsletter {
        display: flex;
        text-align: center;
        margin: 0 2em;
        margin-bottom: 4em;
    }

    body > footer > nav {
        margin-bottom: .5em;
    }

    body > footer .footer-menu ul {
        display: flex;
        flex-direction: column;
    }

    body > footer .search {
        margin-bottom: .5em;
    }

    body > footer > div {
        margin-bottom: .5em;
    }

    body > footer .subscribe {
        padding-bottom: 1.5em;
    }

    body > footer .subscribe a {
        display: inline-block;
    }

    body > footer .license {
        width: inherit;
    }
}


@media (max-width: 705px) {

    body main article.topic-summary.intro {
        flex-wrap: wrap;
    }

    body main article.topic-summary.intro h2 {
        margin-top: 1em;
    }

    body > header button.expand-menu {
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 1000;

        font-family: "DM Mono";
        text-transform: capitalize;
        border-radius: 40px;
        border: 4px solid black;
    }

    body > header .masthead .primary-menu ul ul { 
        /* display: block; */
        position: relative;

        border: none;
        box-shadow: none;
    }

    body > header .masthead .primary-menu > ul ul > li:hover {
        background: none;
        border: none;
        color: black;
    }

      body > header .masthead .primary-menu > ul ul > li:hover a {
        color: black;
      }

    body > header .masthead .primary-menu ul li {
        display: block;
        z-index: 900;
        margin-left: 0;
    }

    body > header .primary-menu.expand ul > li:has(a.donate) {
        box-sizing: border-box;
        margin-top: 1em;
     }

    body > header .primary-menu.expand ul > li a.donate {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

     body > header .primary-menu.expand ul li {
        border-top: none;
     }


    body > header .masthead .primary-menu ul ul ul {
        position: relative;
        left: 0;
        top: 0;

        border: none;
        box-shadow: none;
    }

    

}

@media (max-width: 680px) {
    /* main {
        overflow: hidden;
    } */

    .licenses-page .licenses > ul {
        grid-template-columns: 1fr;
    }

    .licenses-page .topic-summary footer.supporting:has(ul) {
        display: block;
    }

    .team-index main article.persons ul {
        grid-template-columns: 1fr;
    }

    
}



