
@import 'library-vars.css';


/* temp resets */
.explore-panel {
    display: none;
}

main p.dm-sans-specimen {
    display: none;

    font-family: "DM Sans";
}

main p.dm-mono-specimen {
    display: none;
    
    font-family: "DM Mono";
}


































