
/* WordPress specific rules */





/* Theme specific context rules */





/* pidgin specific patches */



/* ----------------- */


/* attribution patches */


@media (min-width: 1300px) {

  

}


@media (min-width: 1500px) {

  .home-index .data-points .data-point.khan-academy h2 {
    text-indent: -6000px;
  }


}


@media (max-width: 1190px) {


}

@media (max-width: 1140px) {

  .home-index main footer .attribution-list ul.expand {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 900px) {

  .home-index main .case-studies {
    background: var(--vocabulary-brand-color-tomato);
    padding: 5%;

  }

  .home-index .case-studies footer {
    margin: 0;
    margin-top: 2em;
    padding: 0;
  }

  .home-index .data-points ul {
    /* display: block; */
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    /* padding: 0 1em; */
  }

  .home-index main .posts ul {
    display: flex;
    flex-wrap: wrap;
  }

  .home-index main footer {
    width: 100%;
    box-sizing: border-box;
  }


}

@media (max-width: 765px) {


}

@media (max-width: 705px) {

  .home-index .topic-summary {
    display: block;
  }

  .home-index .topic-summary figure {
    display: none;
  }

  .home-index .case-studies > ul {
    grid-template-columns: 1fr 1fr;
  }

  .home-index .data-points ul {
    display: block;
    padding-top: 2em;
  }

   .home-index main article.posts.featured > ul li:nth-child(1) {
    padding: 2em;
  }

  .home-index main .posts {
      padding: 0 var(--vocabulary-page-edges-space);
  }

  .home-index main footer .attribution-list ul.expand {
      display: block;
  }
}

@media (max-width: 480px) {
  .faq-index .toc article.featured > ul {
    display: block;
  }
}

@media (max-width: 425px) {

  .home-index .attribution-list {
    padding: 2em;
  }

  .home-index .attribution-list h2 {
    width: 50%;

    hyphens: auto;
    word-break: break-word;
  }

}

@media (max-width:480px) {
  .home-index .case-studies > ul {
    display: block;
  }

  .home-index .case-studies > ul li {
    margin-bottom: 3em;
  }
}

@media (max-width: 425px) {



  .home-index .attribution-list {
    padding: 2em;
  }

  .home-index .attribution-list h2 {
    width: 50%;
    font-size: .5em;
    hyphens: auto;
    word-break: break-word;

  }

}

/* patches */

/* main > article figure img, main > figure img {
  width: 100%;
} */


.chooser-page main .content ul, .chooser-page main .content ol {
  line-height: 100%;
}



@media (max-width:400px) {

  

}

