:root {
    
    --vocabulary-brand-color-magenta: #BB377E;
    --vocabulary-brand-color-cyan: #05B6DA;
    --vocabulary-brand-color-yellow: #FBD53C;

    --vocabulary-brand-color-red: #B82E1E;
    --vocabulary-brand-color-indigo: #03286C;
    --vocabulary-brand-color-green: #039733;

    --vocabulary-brand-color: #DB855D;
    --vocabulary-brand-color: #CB5E6F;
    --vocabuary-brand-color: #C3508E;
    --vocabulary-brand-color: #A088B6;
    --vocabulary-brand-color: #22BFDF;
    --vocabulary-brand-color: #42BEB3;
    --vocabulary-brand-color: #80C48B;



    --vocabulary-brand-color-dark-cyan: #0480A5;
    --vocabulary-brand-color-dark-yellow: #887421;

    --vocabulary-color-light-grey: #F5F5F5;




    /* --vocabulary-brand-color-dark-cyan:#038289; */


}

/* body > header .masthead .primary-menu ul li {
    margin-left: 3em;
}

body > header .masthead .primary-menu ul li a {
    font-family: 'Source Sans Pro';
    font-family: "Jost", sans-serif;
    text-transform: capitalize;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 1.4em;

    color: #414040;
}

body > header .masthead .primary-menu ul li a:hover {
    color: purple;
    text-decoration: underline;
}

body > header .masthead .primary-menu ul li a.donate {
    padding: .5em .7em;

    color: #62327F;
    color: #bb377e;
    background: #E4CBF3;
    background: #fee9f9;
    border-radius: 5px;
}

body > header .masthead .primary-menu ul li a.donate:hover {
    color: white;
    background: #bb377e;
    text-decoration: none;

} */

/* body > header .masthead .primary-menu ul li a.donate:before {
    --icon-sprite-color: #62327F;
    --icon-sprite-color: #bb377e;
    --icon-sprite-size: .7em;
    
    margin-right: .3em;

} */

/* body > header .masthead .primary-menu ul li a.donate:hover:before {
    --icon-sprite-color: white;
} */

body > article.attention {
    /* background: #fbd43c; */
    /* background: #05b5da; */
    /* background: #bb377e; */
    /* background: #e4cbf3; */
}

/* body > article.attention:nth-of-type(2) {
    background: #CBF3F0;
    display: none;

}

body > article.attention:nth-of-type(3) {
    background: #fbd43c;
} */

body > article.attention:nth-of-type(4) {
    /* background: #fbd43c; */

    /* display: none; */
}


/* body > article.attention:nth-of-type(5) {
        background: #bb377e;
}

body > article.attention:nth-of-type(6) {
    background: #e4cbf3;
    background: #fee9f9;
    display: none;
}

body > article.attention:nth-of-type(7) {
    background: black;

}



body article.attention {
    display: none;
} */


/* body.pidgin-home .primary-nav {
    font-family: "Jost", sans-serif;
} */



.chooser-mini {
    width: 80%;
    grid-column: 5 / 8;
    margin: 0 auto;
    margin-top: 3em;

    font-size: .8em;
}

.chooser-mini a {
    color: #324c7f;
}

.chooser-mini header h2 {
    text-align: center;
    color: #324c7f;
    color: var(--vocabulary-brand-color-dark-cyan);
    color: black;
    /* color: #414040; */
    /* font-family: "DM Serif Display", serif; */
    /* font-family: "Knewave", system-ui; */
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    font-size: 5em;
    /* transform: rotate(-2deg); */
}

.chooser-mini p {
    font-family: "Jost", sans-serif;
}

.chooser-mini label {
    display: none;
}

.chooser-mini select {
    padding: .8em .5em;
    padding-right: 1.4em;

    appearance: none;
    background: transparent;
    border: 2px solid #bfbdbd;
    border-color: #324c7f;
    color: #324c7f;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-family: 'Source Sans Pro';
}

.chooser-mini .license-menu div {
    position: relative;
    background: transparent;
}

.chooser-mini .license-menu div.icon-attach:before {
    --icon-sprite-color: #324c7f;

    position: absolute;
    top: 1em;
    right: .4em;
    z-index: -1;
}

.chooser-mini .license-menu a.need-help-choosing {
    font-style: italic;
}

.chooser-mini .license-menu {
    display: flex;
    justify-content: space-between;

    font-size: 1.5em;
}

.chooser-mini .license-menu a {
    margin-top: .7em;
    display: inline-block;
    height: min-content;
}

.chooser-mini .explainer {
    margin-top: 2em;
    padding: 2em;
    position: relative;

    background: var(--vocabulary-neutral-color-lighter-gray);
    background: #CBF3F0;
    /* background: #D6EDE7; */
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    
}

.chooser-mini .explainer:before {
    content: '';
    width: 2em;
    height: 2em;
    position: absolute;
    top: -13px;
    left: 50px;
    transform: rotateZ(45deg);

    background: var(--vocabulary-neutral-color-lighter-gray);
    background: #CBF3F0;
}

.chooser-mini .explainer h3 {
    margin-top: 0;

    font-family: 'Source Sans Pro';
}

.chooser-mini .explainer a {
    --underline-background-color: var(--vocabulary-neutral-color-lighter-gray);
    --underline-background-color: #CBF3F0;
    font-size: .8em;
}

.chooser-mini .explainer .license-graphics {
    display: flex;
    justify-content: space-between;
    opacity: .7;
}


.chooser-mini .explainer .license-icons svg {
    font-size: 1.3em;
    display: inline;
    width: 1.9em;
    height: 1.9em;
    margin-right: .1em;
}

.chooser-mini .explainer img.license-badge {
    /* width: 120px; */
    /* height: 42px; */
    height: 2.7em;
}

.chooser-mini .explainer p {
    margin-top: 1.7em;

    line-height: 1.6;
}

.chooser-mini .explainer .license-info-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}


/* interim home-narrative */


.home-narrative article.topic-summary {
    grid-column: 3/10;
}

.home-narrative article.topic-summary.intro {
    grid-column: 2/11;

    display: none;
}

.home-narrative article.topic-summary.intro a {
    display: inline-block; 
}

.home-narrative article.topic-summary.legal-tools {
    grid-column: 4/9;

    display: none;
}

.home-narrative article.topic-summaries.focus-areas {
    /* display: grid;
    grid-template-columns: subgrid; */
    grid-column: 4/9;
}

.home-narrative article.topic-summaries.focus-areas .topic-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    margin: 12em 0;
    overflow-y: hidden;
}

.home-narrative article.topic-summaries.focus-areas .topic-summary .description {
    padding: 20% 0;
}

.home-narrative article.topic-summaries.focus-areas .topic-summary .description h3 {
    font-size: 2em;
    font-weight: 100;
    
}


.home-narrative article.topic-summaries.focus-areas .topic-summary p {
    font-size: 1.2em;
}

.home-narrative article.topic-summaries.focus-areas .topic-summary a {

    --icon-sprite-color: black;

    box-sizing: border-box;

    font-family: 'Source Sans Pro';
    background: white;
    color: black;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    text-shadow: none;
    font-weight: 200;
    text-decoration: none;
    transition: .2s ease;

}

.home-narrative article.topic-summaries.focus-areas .topic-summary a:hover {
    background: black;
    color: white;
}

.home-narrative article.topic-summaries.focus-areas .topic-summary a span:before {
    /* display: inline-block; */
    /* margin-top: 4px; */
}

.home-narrative article.topic-summaries.focus-areas .topic-summary:nth-child(even) figure {
    order: -1;
    text-align: right;
}

.home-narrative article.topic-summaries.focus-areas .topic-summary figure {
  
}

.home-narrative article.topic-summaries.focus-areas .topic-summary figure img {
    object-fit: cover;
    width: 200%;
    height: auto;
}

.home-narrative article.topic-summaries.focus-areas .topic-summary:nth-child(even) figure img {
    width: 100%;
}

.home-narrative article.call-to-action{
    grid-column: 4/9;
}

.home-narrative article.posts {
    grid-column: 3/10;
}

.home-narrative article.posts ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 8em;
    /* padding: 0 4em; */
    gap: 2em;
    box-sizing: border-box;
    width:100%;
    margin: 0 auto;
    margin-top: 0;

    font-size: 1rem;
    list-style: none;
}

.home-narrative article.posts ul li {
    grid-column: span 4;
 }

 .home-narrative article.posts ul li h3 {
    font-size: 1.5em;
}

.home-narrative article.posts .post figure {
    order: -1;
}

.home-narrative article.newsletter {
    grid-column: 3/10;
}

.home-narrative article.events {
    grid-column: 3/10;
}


