

body > header .masthead .primary-menu ul li {
    margin-left: 3em;
}

body > header .masthead .primary-menu ul li a {
    font-family: 'Source Sans Pro';
    text-transform: capitalize;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 1.4em;

    color: #414040;
}

body > header .masthead .primary-menu ul li a:hover {
    color: purple;
    text-decoration: underline;
}

body > header .masthead .primary-menu ul li a.donate {
    padding: .5em .7em;

    color: #62327F;
    color: #bb377e;
    background: #E4CBF3;
    background: #fee9f9;
    border-radius: 5px;
}

body > header .masthead .primary-menu ul li a.donate:hover {
    color: white;
    background: #bb377e;
    text-decoration: none;

}

body > header .masthead .primary-menu ul li a.donate:before {
    --icon-sprite-color: #62327F;
    --icon-sprite-color: #bb377e;
    --icon-sprite-size: .7em;
    
    margin-right: .3em;

    /* margin-top: 6px; */
}

body > header .masthead .primary-menu ul li a.donate:hover:before {
    --icon-sprite-color: white;
}