/*
Style rules are written with two sections
at current, separated by an empty line.

1. for layout, positioning, and related.

2. for visual configuration such
as color, font, background, etc.

EX:
.selector {
    layout style: rule here

    visual style: rule here
}

EX:
.article {
    position: relative;
    width: 100%;

    color: blue;
    text-decoration: none;
}

*/

@import 'vendor/normalize.css';
@import 'library-vars.css';

/* utilities */
.skip-to-content {
    position: absolute;
    top: 0;
    left: 0;
    margin: -1000px;
}

.skip-to-content:focus {
    margin: 0;
}

/* typography */

body {
    display: grid;
    grid-template-columns: 5% 3% 6% 6% 15% 30% 15% 6% 6% 3% 5%;

    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


/* ************************* */

/* temp */

body > header {display: none;}
body > footer {display: none;}


/* top page banner */
body > article.attention {
    grid-column: 1 / span 11;
    padding: 1em 5%;

    background: var(--vocabulary-brand-color-soft-green);
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
    border-bottom: 3px solid white;
}

/* bottom page banner */
/* body > article.attention:nth-of-type(2) {
    background: var(--vocabulary-brand-color-soft-gold);
} */

body > article.attention a {
    color: var(--vocabulary-brand-color-dark-green);
    --underline-background-color: var(--vocabulary-brand-color-soft-green);
}

body > article.attention.low-importance a, body > article.attention.medium-importance a, body > article.attention.high-importance a {
    display: inline-flex;
    align-items: center;
    padding: 0.5em .8em;
    margin-left: .5em;

    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    vertical-align: middle;
    background: var(--vocabulary-brand-color-turquoise);
    color: white;
    border-radius: 4px;
}

body > article.attention.low-importance a:before, body > article.attention.medium-importance a:before, body > article.attention.high-importance a:before {
    --icon-sprite: var(--cc-heart-filled);
    --icon-sprite-color: white;
    --icon-sprite-size: 1em;

    display: inline-block;
    content: '';
    height: 1em;
    width: 1em;
    margin-right: .2em;

    font-size: var(--icon-sprite-size);
    background-color: var(--icon-sprite-color);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: var(--icon-sprite);
    mask-image: var(--icon-sprite);
    -webkit-mask-size: contain;
    mask-size: contain;
  }

  body > .attention.low-importance {
    background: var(--vocabulary-brand-color-soft-green);
    border-bottom: 8px solid var(--vocabulary-brand-color-green);
  }

  body > .attention.medium-importance {
    background: var(--vocabulary-brand-color-soft-gold);
    border-bottom: 8px solid var(--vocabulary-brand-color-gold);
  }

  body > .attention.high-importance {
    background: var(--vocabulary-brand-color-soft-tomato);
    border-bottom: 8px solid var(--vocabulary-brand-color-tomato);
  }



main {
    /* width: 60%; */
    /* margin: 0 auto; */
    /* margin-top: 2em; */
    margin-bottom: 8em;
    /* padding: 0 2em; */
    display: grid;
    grid-template-columns: subgrid;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: 1 / 12;
}

main > * {
    grid-column: 5 / span 3;
}

/* if aside is present, split to two-col */
main:has( > aside.sidebar) > div { /* was '>  *' */
    grid-column: 2 / span 5;
    /* grid-column: 6 / span 5; */
}

/* main:has( > aside.sidebar) > header { /* was '>  *' */
    grid-column: 2 / span 9;
} */

/* makes sure first item after aside is always even horiztonally */
main:has( > aside) *:nth-child(3) {
    grid-row-start: 2;
}

main:has( > aside.sidebar) > aside.sidebar {
    grid-column: 7 / span 4;
    grid-row-start: 2;
    padding-left: 4.1em;

    /* grid-column: 2 / span 4;
    padding-right: 4.1em; */

    /* display: block;
    float: right;
    margin-top: -10%;
    margin-right: -5vw; */
}

main > header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4em;
    padding-top: 2em;
    padding-bottom: 1em;
    position: relative;
    grid-template-columns: subgrid;
    grid-column: 5 / span 3;

    text-align: center;
    color: #333; /* for testing */

    /* margin-top: 10em;
    background: white; */
}

/* main:has( > aside.sidebar) > header {
    text-align: left;
} */

main > header:before {
    width: 100vw;
    height: 100%;
    position: absolute;
    left: -33.333%;
    top: 0;
    /* top: -10em; */
    z-index: -1;
    content: "";

    background: #F5F5F5;

    background: #CBF3F0;  /* for testing */
}

main > header h1 {
    width: 100%;
    grid: 0 / auto;

    font-family: 'Roboto Condensed';
    font-size: 3.56em;
    font-style: normal;
    font-weight: 700;
    /* text-transform: uppercase; */

    color: #324c7f;
}

main > header a {
    color: var(--vocabulary-brand-color-dark-tomato);
    --underline-background-color: var(--vocabulary-neutral-color-lighter-gray);

    color: #324c7f; /* for testing */
    --underline-background-color: #CBF3F0; /* for testing */
    /* background: #CBF3F0; */
}

main > header .categories {
    order: -1;

    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
}

main > header .byline {
    display: block;
    width: 100%;
    margin-bottom: 2em;

    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    font-style: italic;
}



main h2 {
    width: 100%;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1em;
    text-transform: none;
}

main h3 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75em;
    text-transform: none;
}

main aside.opening {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 2em;
    padding: 2em;
    width: 100%;

    background: #FEEDE9;
    background: #CBF3F0;  /* for testing */
}


main aside.opening a {
    color: var(--vocabulary-brand-color-dark-tomato);
    --underline-background-color: #FEEDE9;

    color: #324c7f; /* for testing */
    --underline-background-color: #CBF3F0; /* for testing */
    background: #CBF3F0;
}

main aside.opening p {
    margin :0;

    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

main a {
     /* better hyperlink underline typesetting inspired by Tufte CSS */
     --underline-color: var(--vocabulary-brand-color-dark-tomato);
     --underline-background-color: white;
     color: var(--vocabulary-brand-color-dark-tomato);
     text-decoration: none;

     color: #324c7f; /* for testing */

     /* adapted from Tufte.css -- Copyright (c) 2014 Dave Liepmann -- https://github.com/edwardtufte/tufte-css -- https://github.com/edwardtufte/tufte-css/blob/gh-pages/LICENSE */
     background: -webkit-linear-gradient(var( --underline-color), var( --underline-color)), -webkit-linear-gradient(var( --underline-color), var( --underline-color)), -webkit-linear-gradient(currentColor, currentColor);
     background: linear-gradient(var( --underline-color), var( --underline-color)), linear-gradient(var( --underline-color), var( --underline-color)), linear-gradient(currentColor, currentColor);
     -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
     -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
     background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
     background-repeat: no-repeat, no-repeat, repeat-x;
     text-shadow: 0.03em 0 var(--underline-background-color), -0.03em 0 var(--underline-background-color), 0 0.03em var(--underline-background-color), 0 -0.03em var(--underline-background-color), 0.06em 0 var(--underline-background-color), -0.06em 0 var(--underline-background-color), 0.09em 0 var(--underline-background-color), -0.09em 0 var(--underline-background-color), 0.12em 0 var(--underline-background-color), -0.12em 0 var(--underline-background-color), 0.15em 0 var(--underline-background-color), -0.15em 0 var(--underline-background-color);
     background-position: 0% 93%, 100% 93%, 0% 93%;
     /* background-position-y: 87%, 87%, 87%; */
}

main p {
    margin-bottom: 2em;

    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

main ul, main ol {
    margin: 0 0 2em 1em;
    padding: 0;

    font-family: 'Source Sans Pro';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

main ul ul, main ol ol {
    font-size: 1.2rem;
}

main blockquote {
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0;
}

/* manually include quote icon to avoid extraneous html classes */
main blockquote p:before {
    --icon-sprite: var(--cc-quote);

    display: block;
    content: '';
    height: 1em;
    width: 1em;

    font-size: var(--icon-sprite-size);
    background-color: var(--icon-sprite-color);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-image: var(--icon-sprite);
    mask-image: var(--icon-sprite);
    -webkit-mask-size: contain;
    mask-size: contain;
}

main blockquote p {
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 1.9em;
    line-height: 105%;
}

main figure {
    margin: 0;
    margin-bottom: 3em;
    padding: 0;
}

main figure .attribution {
    display: block;
    margin-top: 1em;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

main figure:has(iframe) {
    grid-column: 4 / span 5;
    /* width: 120%;
    margin-left: -10%;
    margin-right: 0; */
    float: none;
}

main aside.closing {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    margin-bottom: 2em;
    padding: 2em;
    width: 100%;

    background: var(--vocabulary-brand-color-soft-turquoise);
    background: #CBF3F0;  /* for testing */

  }

main aside.closing a {
    --underline-background-color: var(--vocabulary-brand-color-soft-turquoise);
    color: var(--vocabulary-brand-color-dark-tomato);

    color: #324c7f; /* for testing */
    --underline-background-color: #CBF3F0; /* for testing */
    background: #CBF3F0;
  }

 main aside.closing p {
    margin :0;

    font-family: 'Source Sans Pro';
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

main .pub-date {
    display: inline-block;
    margin-bottom: 4em;

    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

main article.tags {
    margin-bottom: 8em;
}

main article.tags ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    left: 0;

    list-style: none;
}

main article.tags ul li {
    margin-right: .5em;
}


main article.tags ul li:after {
    content: ',';
    margin-left: .1em;
}

main article.tags ul li:last-child:after {
    content: '';
}

main article.related-posts {
    grid-column: 3 / span 7;
    /* width: 140%;
    margin-left: -20%; */
    padding: 2em 4em;
    box-sizing: border-box;

    background: var(--vocabulary-neutral-color-lighter-gray);
}

main article.related-posts .authored-posts.highlight {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 8em;
    gap: 2em;
    box-sizing: border-box;

    margin: 0 auto;
    margin-top: 0;
}

main article.related-posts .authored-posts.highlight article {
    margin-bottom: 3em;
}

main article.related-posts .authored-posts.highlight article header {
    flex-direction: column;
    align-items: baseline;
}

main article.related-posts .authored-posts.highlight article figure {
    display: none;
    order: -1; 
}

main article.related-posts .authored-posts.highlight article a {
    --underline-background-color: var(--vocabulary-neutral-color-lighter-gray);
}

main article.related-posts .authored-posts.highlight article h2 {
    font-size: 1.4em;
}

main article.related-posts .authored-posts.highlight article p {
    display: none;
}

main nav.pagination {
    /* grid-column: span 2; */
    margin: 0 auto;
}

main nav.pagination ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    text-indent: none;

    font-size: 1em;
    list-style: none;
}

main nav.pagination ol li {
    margin: 0 .5em;

    line-height: 250%;
}

main nav.pagination ol li a {
    padding: .4em .7em;

    background: #F5F5F5;
    --underline-background-color: #F5F5F5;
    color: black;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: none;
    text-decoration: none;
}

main nav.pagination ol li.current a {
    background: black;
    --underline-background-color: black;
    color: white;
}


main .attribution-list {
    grid-column: 3 / span 7;
    box-sizing: border-box;
    position: relative;
    padding: 4em;
    /* gap: 0;
    width: 140%;
    margin-left: -20%; */
    

    background:  var(--vocabulary-brand-color-soft-turquoise);
    background: var(--vocabulary-brand-color-tomato);
    background: var(--vocabulary-brand-color-soft-tomato);
    background: var(--vocabulary-neutral-color-lighter-gray);
    text-align: left;
}

main .attribution-list h2 {
    margin: 0;
}

main .attribution-list button.expand-attribution {
    position: absolute;
    top: 4.5em;
    right: 4em;

    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    padding: .5em;
    font-family: "Source Sans Pro";
}

main .attribution-list button.expand-attribution.selected {
    background: black;
    color: white;
}

main .attribution-list ul {
    display: none;
}

main .attribution-list ul.expand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    margin-top: 2em;
    padding: 0;
    gap: 2em;

    font-size: 1em;
    list-style: none;
}

main .attribution-list article {
    margin-bottom: 1em;
}

main .attribution-list article a {
    --underline-background-color: var(--vocabulary-brand-color-grey);
}

main .attribution-list article figure {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

main .attribution-list article img {
    object-fit: cover;
    width: 4em;
    height: 4em;
}

main .attribution-list article figure .attribution {
    margin-top: 0;
}

/* components */

/* topic-summary component */

.topic-summary {
    display: grid;
    grid-column: 3 / span 7 ;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    margin-bottom: 16em;

    background: var(--vocabulary-neutral-color-lighter-gray);
}

.topic-summary.news ul {
    display: subgrid; /* temporary */
    grid-column: 1 / span 5;
    list-style: none;
}

.topic-summary.news ul li {
    grid-column: 2 / span 3;
}

.topic-summary.news ul li:nth-of-type(1) {
    grid-column: 2 / span 3;
}





/* blog-index context */
.blog-index main {

    
}

/* search-index context */

.search-index main header { /* generalize? */
    display: block;
    padding: 3.7em 0;
    text-align: left;
}

.search-index .search-form form {
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;

}

.search-index .search-form form input {
    flex: 1;
    width: 100%;
    height: 4em;
    padding: .2em 1em;

    outline: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 2px solid black;
    border-color: #324c7f; /* for testing */

}

.search-index .search-form form button {
    width: 10%;

    cursor: pointer;
    background: black;
    color: white;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #324c7f; /* for testing */
}

/* team-index context */

.team-index main .persons {
    /* grid-column: span 3; */
    margin-bottom: 5em;
}

.team-index main .persons h2 {
    margin-top: 0;
    margin-bottom: 1.5em;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 2.1em;
}

.team-index main .persons ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4em;
    margin: 0;
    padding: 0;

    list-style: none;
}

.team-index main .persons .person {
    display: flex;
    flex-wrap: wrap;

    font-family: 'Source Sans Pro';
}

.team-index main .persons .person h3 {
    width: 100%;
    margin-top: .6em;
    margin-bottom: .5em;

    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    /* line-height: 150%; */
}

.team-index main .persons .person .title {
    margin-bottom: .4em;

    font-style: normal;
    font-weight: 600;
    font-size: .7em;
    line-height: 150%;
}

.team-index main .persons .person figure {
    order: -1;
    margin: 0;
    padding: 0;

    font-size: .8em;
}

.team-index main .persons .person img {
    width: 100%;
    zoom: 10;
}


.team-index main .persons .person a {
     /* better hyperlink underline typesetting inspired by Tufte CSS */
     --underline-color: var(--vocabulary-brand-color-dark-tomato);
     --underline-background-color: white;
     color: var(--vocabulary-brand-color-dark-tomato);
     text-decoration: none;

     /* adapted from Tufte.css -- Copyright (c) 2014 Dave Liepmann -- https://github.com/edwardtufte/tufte-css -- https://github.com/edwardtufte/tufte-css/blob/gh-pages/LICENSE */
     background: -webkit-linear-gradient(var( --underline-color), var( --underline-color)), -webkit-linear-gradient(var( --underline-color), var( --underline-color)), -webkit-linear-gradient(currentColor, currentColor);
     background: linear-gradient(var( --underline-color), var( --underline-color)), linear-gradient(var( --underline-color), var( --underline-color)), linear-gradient(currentColor, currentColor);
     -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
     -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
     background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
     background-repeat: no-repeat, no-repeat, repeat-x;
     text-shadow: 0.03em 0 var(--underline-background-color), -0.03em 0 var(--underline-background-color), 0 0.03em var(--underline-background-color), 0 -0.03em var(--underline-background-color), 0.06em 0 var(--underline-background-color), -0.06em 0 var(--underline-background-color), 0.09em 0 var(--underline-background-color), -0.09em 0 var(--underline-background-color), 0.12em 0 var(--underline-background-color), -0.12em 0 var(--underline-background-color), 0.15em 0 var(--underline-background-color), -0.15em 0 var(--underline-background-color);
     background-position: 0% 93%, 100% 93%, 0% 93%;
     /* background-position-y: 87%, 87%, 87%; */
}

.team-index main .persons .person p {
    font-size: .75em;
}

.team-index main aside.closing {
    grid-column: span 3;
}

.team-index main aside.closing p {
    font-style: italic;
}












.grid-temp {
    display: grid;
    grid-template-columns: 5% 3% 6% 6% 15% 30% 15% 6% 6% 3% 5%;
    grid-auto-rows: min-content;
}

.grid-temp main {
    display: grid;
    grid-template-columns: subgrid;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-column: 1 / 12;    
}

.grid-temp main > * {
    grid-column: 5 / span 3;
}

.grid-temp main header {
    grid-template-columns: subgrid;
    grid-column: 5 / span 3;

    border: 1px dotted black;
}


.grid-temp main header h1 {
    grid: 0 / auto;
}

.grid-temp main > p {
    grid-column: 5 / span 3;

    border: 1px dotted black;
}

.grid-temp main > .wide-box {
    grid-column: 3 / span 7;

    border: 1px dotted black;
}

.grid-temp main > .wide-img {
    grid-column: 4 / span 5;

    border: 1px dotted black;
}

.grid-temp main > .page-box {
    grid-column: 2 / span 9;

    border: 1px dotted black;
}


/* if aside is present, split to two-col */
.grid-temp main:has( > aside) > p {
    grid-column: 2 / span 5;

    border: 1px dotted black;
}

/* makes sure first item after aside is always even horiztonally */
.grid-temp main:has( > aside) *:nth-child(3) {
    grid-row-start: 2;
}

.grid-temp main:has( > aside) > aside {
    grid-column: 7 / span 4;
    padding-left: 4.1em;

    /* background: black; */
    border: 1px dotted black;
}
