/* @import '../src/css/vocabulary.css' layer(vocabulary); */

body {
    width: 100vw;
    font-size: 1.2em;
    padding: 1em;
}

main{
    overflow-x: hidden;
}
pre  {
    display: block;
    padding: 2em;
    overflow-x: auto;

    /* white-space: pre-wrap; */
    background: #ededed;
    
}

span.distinct {
    padding: .1em .2em;

    background: #ededed;
    border-radius: 3px;
}

main ul li {
    margin-bottom: .5em;
}